
.container{
    width: 240px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 0px;
    margin: 10px;
    overflow: hidden;
}


.picDiv{
    width: 230px;
    height: 280px;
    border: 1px solid rgb(18, 17, 17);
    background-color: rgb(239, 6, 6);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.picDiv img {
    width: 220px;
    height: 270px;
    object-fit: cover;
}


.textDiv{
    overflow: auto;
}