
.headerDev{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #b51f29;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.cartIcon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
}

.createAccountDiv{
    margin-left: 275px;
    padding: 8px 16px;
    background-color: #191818;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.searchBar{
    width: 350px;
    height: 30px;
    margin-left: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #191818;
    font-size: 16px;
}