.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50px;
}


.menu li {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(217, 136, 15);
}

.menu a {
    text-decoration: none;
    color: black;
}
