
/* Parent container for book details page */
.bookDetailsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: white;
}


/* Section for book image */
.bookDetails_container_img {
    display: flex;
    width: 100%;
    aspect-ratio: 4/5;
    justify-content: right;
    max-width: 500px;
    box-sizing: border-box;

}

/* book image styling */
.bookDetails_container_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


/* Section for book details */
.bookDetails_container_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
}

/* title */
.bookDetails_container_section_title {
    width: fit-content;
    font-size: 2rem;
    font-weight: bold;
}

/* author */
.bookDetails_container_section_author {
    font-size: 1.2rem;
    color: gray;
}

/* price */
.bookDetails_container_section_price {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}

/* description */
.bookDetails_container_section_description {
    font-size: 1rem;
    line-height: 1.5;
}

/* Add to Cart button */
.primaryButton {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}


a {
    display: block;
}