
.bookDetailsContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: white;
}


.bookDetails_container_img {
    display: grid;
    width: 100%;
    aspect-ratio: 4/5;
    justify-items: start;
    align-items: start;
    max-width: 400px;
    box-sizing: border-box;

}

.bookDetails_container_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}